#eightball{
    background-image: url("../images/starry-sky-1656491_1280.jpg");
    background-position: top, center;
    margin: 0 auto;
    font-size: 1.4em;
}
#input{
    background-color: aliceblue;
    color: mediumblue;
    width:80%;
    margin:auto;
    text-align: center;
    font-size: 1.4em;

}
/*#response{
    background-color: aliceblue;
    color: mediumblue;
    width:50%;
    margin:auto;
    text-align: center;
}*/
#myform{
    background-color: aliceblue;
    color: mediumblue;
    width:80%;
    margin:auto;
    text-align: center;
    padding: 1em;

}

